// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }

    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
}

.v-card {
    font-family: 'Nunito', sans-serif;
}

.form-seperator {
    border-top: 1px solid black;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #0000001f;
}

.separator::before {
    margin-right: 0.25em;
}

.separator::after {
    margin-left: 0.25em;
}

.line {
    display: block;
    height: 1px;
    width: 80px;
    margin: 0px auto;
    text-indent: -9999px;
    border-top: 3px solid #CF0000;
}

.text-blue {
    color: #2F3B59;
}

.bg-blue {
    background-color: #2F3B59;
}

.margin {
    margin-top: 10px;
}

.v-btn {
    outline: none !important;
}

a {
    text-decoration: none !important;
}

.chip {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-date {
    background-color: #f2f2f2;
    height: 40px;
    border-bottom: 1px solid #f2f2f2
}

.category {
    background: #cf0000;
}

.category:hover {
    cursor: pointer;
    background: #cf0000;
    transition: 1s;
}

.custom-border {
    border: 1px solid black;
    border-radius: 0px;
}

.border-bottom {
    border-bottom: 0.5px solid black !important;
    padding: 15px;
}

v-text-field {
    border-radius: 0px;
}

// upload css
.form-group {
    margin-bottom: 30px;
}

.uploader {
    width: 100%;
    background: #39525f;
    color: #fff;
    padding: 40px 15px;
    text-align: center;
    border-radius: 10px;
    border: 3px dashed #fff;
    font-size: 20px;
    position: relative;

    &.dragging {
        background: #fff;
        color: #2196F3;
        border: 3px dashed #2196F3;

        .file-input label {
            background: #2196F3;
            color: #fff;
        }
    }

    i {
        font-size: 85px;
    }

    .file-input {
        width: 200px;
        margin: auto;
        height: 68px;
        position: relative;

        label,
        input {
            background: #fff;
            color: #2196F3;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border-radius: 4px;
            margin-top: 7px;
            cursor: pointer;
        }

        input {
            opacity: 0;
            z-index: -2;
        }
    }

    .image-preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .img-wrapper {
            width: 160px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            height: 150px;
            justify-content: space-between;
            background: #fff;
            margin-bottom: 20px;
            box-shadow: 5px 5px 20px #3e3737;

            img {
                max-height: 105px;
            }
        }

        .details {
            font-size: 12px;
            background: #fff;
            color: #000;
            display: flex;
            flex-direction: column;
            align-items: self-start;
            padding: 3px 6px;

            .name {
                overflow: hidden;
                height: 18px;
            }
        }
    }

    .upload-control {
        position: absolute;
        width: 100%;
        background: #fff;
        top: 0;
        left: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        padding-bottom: 4px;
        text-align: right;

        button,
        label {
            background: #2196F3;
            border: 2px solid #03A9F4;
            border-radius: 3px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }

        label {
            padding: 2px 5px;
            margin-right: 10px;
        }
    }
}

// search
.searchdiv {
    padding-top: 5px;
}

.search {
    margin: auto;
}

.searchinput {
    height: 38px;
    display: inline-block;
    width: 66%;
    border: none;
    background: #fff;
    box-shadow: none;
    font-size: 12px;
    padding-left: 12px;
}

.input-group {
    border: 5px solid #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    background: #fff;
}

.searchbtn {
    background: #2F3B59;
}

a:hover {
    text-decoration: none;
}

.scroll {
    overflow-y: scroll;
}
