// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "../../public/custom-css/styles.css";

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }

    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
}

.v-application {
    font-family: 'Nunito', sans-serif !important;
}
.v-hl-btn.v-hl-btn-next.v-hl-btn-between {
    transform: translateX(-50%);
}
.product-card {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04) !important;
    border: 1px solid;
    border-color: #eee !important;
    padding-bottom: 10px;
}

.breadcrumb {
    background: #f3f2ed;
    margin-bottom: 0px;
}

.breadcrumb-item>a:hover {
    color: #19916B !important;
}

.featured-title {
    margin-bottom: 0px !important;
    padding: 20px 0px 20px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    
}

.favourite {
    opacity: 0;
    height: 10px;
    transition: height 0.2s ease;
}

.favourite>i {
    font-size: 0px;
}

.product-card:hover .favourite {
    opacity: 1;
    height: 32px;
}

.product-card:hover .favourite>i {
    font-size: 18px;
}

.form-seperator {
    border-top: 1px solid black;
}

.separator {
    display: flex;
    align-items: center;
    color: #999;
    text-align: center;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #0000001f;
}

.separator::before {
    margin-right: 0.25em;
}

.separator::after {
    margin-left: 0.25em;
}

.line {
    display: block;
    height: 1px;
    width: 80px;
    margin: 0px auto;
    text-indent: -9999px;
    border-top: 3px solid #CF0000;
}

.text-blue {
    color: #2F3B59;
}

.bg-blue {
    background-color: #2F3B59;
}

.margin {
    margin-top: 10px;
}

.v-btn {
    outline: none !important;
}

a {
    text-decoration: none !important;
}

.chip {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-date {
    background-color: #f2f2f2;
    height: 40px;
    border-bottom: 1px solid #f2f2f2
}

.category {
    background: #cf0000;
}

.category:hover {
    cursor: pointer;
    background: #cf0000;
    transition: 1s;
}

.custom-border {
    border: 1px solid black;
    border-radius: 0px;
}

.expiry-date-chip {
    margin-left: 12px;
    margin-right: 12px;
    white-space: inherit;
    margin-top: 12px !important;
    margin-bottom: -3px;
    height: auto;
    min-height: 24px;
    text-align: center;
}

.menu-settings-btn {
    position: absolute !important;
    top: 10px;
    right: 10px !important;
    z-index: 1;
    background: white;
    color: #929598 !important;
    height: 24px !important;
    width: 24px !important;
}

.border-bottom {
    border-bottom: 0.5px solid black !important;
    padding: 15px;
}

v-text-field {
    border-radius: 0px;
}

// upload css
.form-group {
    margin-bottom: 30px;
}

.uploader {
    width: 100%;
    background: #fafafa;
    color: #19916B;
    padding: 40px 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px dashed #d9d9d9;
    font-size: 18px;
    position: relative;

    &.dragging {
        border-color: #19916B;

        .file-input label {
            background: #19916B;
            color: #fff;
        }
    }

    i {
        font-size: 85px;
    }

    .file-input {
        width: 170px;
        margin: auto;
        height: 68px;
        position: relative;

        label,
        input {
            background: #fff;
            color: #19916B;
            width: 100%;
            font-size: 16px;
            position: absolute;
            left: 0;
            border: 1px solid #19916B;
            top: 0;
            padding: 10px;
            border-radius: 4px;
            margin-top: 7px;
            cursor: pointer;
        }

        input {
            opacity: 0;
            z-index: -2;
        }
    }

    .image-preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .img-wrapper {
            width: 160px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            height: 150px;
            justify-content: space-between;
            background: #fff;
            margin-bottom: 20px;
            box-shadow: 2px 2px 4px #acacac;

            img {
                max-height: 105px;
            }
        }

        .details {
            font-size: 12px;
            background: #fff;
            color: #000;
            display: flex;
            flex-direction: column;
            align-items: self-start;
            padding: 3px 6px;

            .name {
                overflow: hidden;
                height: 18px;
                width: 150px;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #2f3b59;
                font-weight: 600;
            }

            .size {
                color: #777777;
            }
        }
    }

    .upload-control {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        padding-bottom: 4px;
        text-align: right;

        button,
        label {
            background: #19916B;
            border: 2px solid #19916B;
            border-radius: 3px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }

        label {
            padding: 2px 5px;
            margin-right: 10px;
        }
    }
}

.create-ad-button {
    min-width: 200px !important;
    margin-top: 30px;
    font-weight: bold !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}

// search
.searchdiv {
    padding-top: 5px;
}

.search {
    margin: auto;
}

.searchinput {
    height: 38px;
    display: inline-block;
    width: 66%;
    border: none;
    background: #fff;
    box-shadow: none;
    font-size: 12px;
    padding-left: 12px;
}

.input-group {
    border: 5px solid #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    background: #fff;
}

.searchbtn {
    background: #2F3B59;
}

a:hover {
    text-decoration: none;
}

.scroll {
    overflow-y: scroll;
}

.form-title {
    margin-bottom: 50px;
    line-height: 34px;
    color: #19916b;
}

.form-wrapper {
    background: #fff;
    padding: 50px;
    border-radius: 6px;
}

.no-shadow {
    box-shadow: none !important;
}

.settings-form-title {
    margin-bottom: 40px;
    margin-top: 8px;
    font-weight: 600;
    color: #19916b;
}

.container-wrapper {
    max-width: 88% !important;
}

.login_image {
    height: 200px;
}

.switch>.v-input__control>.v-input__slot {
    flex-wrap: wrap;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.settings-submit {
    min-height: 40px;
    border-radius: 4px;
    min-width: 200px !important;
}

.create-ad ul a {
    color: #2f3b59;
    font-size: 0.9375rem;
}

.menu-box {
    height: 100%;
    position: sticky !important;
    top: 0px;
    position: relative;

    .v-list-item-group .v-list-item {
        color: #fff !important;
    }

    // >div {
    //     box-shadow: none !important;
    //     border-radius: 4px !important;
    // }
}

.panel-content>div {
    padding: 0px !important;
}

.no-products {
    color: #545454;
    font-size: 16px;
    margin-top: 6px;
}

.cover-image {
    background: url("/image/default_cover.png") no-repeat center/cover;
    height: 250px;
}

.cover-image>h3 {
    padding-top: 65px;
    color: white;
}

.cover-container {
    margin-top: -110px;
    max-width: 75% !important;
}

.cover-form-container {
    margin-top: -110px;
    max-width: 88% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 60px !important;
}

.collapse-icon {
    margin-left: -11px;
    position: sticky !important;
    top: 10px;
}

.myads-cards-wrapper {
    padding: 0px 40px;
}

.v-expansion-panel--active>.v-expansion-panel-header {
    color: #19916B;
    font-weight: 600;
}

.profile-wrapper {
    position: relative;
}

.drawer-icon {
    color: #999;
    background: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 50%;
}

.drawer-icon:hover {
    background-color: #19916b !important;
    color: #fff !important;
}

.expand-icon {
    position: sticky !important;
    z-index: 10;
    top: 11px;
    margin-top: -80px;
    margin-left: -12px;
}

.collapse-wrapper {
    border-left: 1px solid #eee;
    margin-left: 34px;
}

@media screen and (min-width: 769px) {
    .bottom-sheet-sm {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .myads-wrapper {
        border-left: none;
        margin-left: 0px;
    }

    .myads-cards-wrapper {
        padding: 0px 20px;
    }

    .menu-box-wrapper {
        display: none;
    }

    .content-wrapper {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .drawer-icon {
        display: none !important;
    }

    .cover-container {
        max-width: 85% !important;
    }

    .cover-form-container {
        margin-top: -90px;
        max-width: 90% !important;
        padding: 24px !important;
    }

    .cover-container {
        margin-top: -100px;
    }

    .cover-image>h3 {
        padding-top: 45px;
    }

    .cover-image {
        height: 200px;
    }

    .container-wrapper {
        max-width: 96% !important;
    }

    .favourite {
        opacity: 1;
        height: 32px;
    }
}



@media screen and (max-width:599px) {
    .menu-box-wrapper {
        margin-top: 0px;
        padding-top: 0px !important;
    }
}

@media screen and (max-width:425px) {
    .form-wrapper {
        padding: 20px;
    }

    .form-title {
        margin-bottom: 25px;
        font-size: 18px;
    }
}


.js-cookie-consent{
    position: absolute;
    top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #fffbdb;
    border-color: #fffacc;
    border: solid 1px;
  }
